<!doctype html>
<html lang="en">
    <head>
        <center>
            <h1 class="text-center">Book Genre Prediction</h1>
            <h4>Summary for entered text data: {{text_data}}...</h4>
            <h4>Predicted Genre for the summary is : <span style = "color:red;font-size:1 rem;">{{output}}</span></h4>
            <button class="btn btn-danger"><a class="link-danger link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover" href="/">return to home</a></button>
        </center>
    </head>
</html>